:root {
    --cor-0:#FFFFFF;
    --cor-1:#DDE1D8;
    --cor-2:#CDD2C6;
    --cor-3:#A5A7A3;
    --cor-4:#393D34;
    --cor-5:#090F02;
    --cor-6:#010101;
    --cor-7:#000000;
    --cor-d0:#2954EF;
    --cor-d1:#1EFF00;
    --cor-d2:#A335EE;
    --cor-d3:#FF8000;
    --cor-d4:#8FFF00;
}

.cor-0 {
    color: var(--cor-0);
}

.cor-1 {
    color: var(--cor-1);
}

.cor-2 {
    color: var(--cor-2);
}

.cor-3 {
    color: var(--cor-3);
}

.cor-d0 {
    color: var(--cor-d0);
}

.cor-d1 {
    color: var(--cor-d1);
}

.cor-d2 {
    color: var(--cor-d2);
}

.cor-d3 {
    color: var(--cor-d3);
}
