:root {
    --cor-0:#FFFFFF;
    --cor-1:#DDE1D8;
    --cor-2:#EDEDED;
    --cor-3:#A5A7A3;
    --cor-4:#393D34;
    --cor-5:#090F02;
    --cor-6:#010101;
    --cor-7:#000000;
    --cor-d0:#2954EF;
    --cor-d1:#FF8000;
    --cor-d2:#A335EE;
    --cor-d3:#1EFF00;
    --cor-d4:#8FFF00;
}