.footer {
    margin: 60px 0 30px 0;
}

.footer-container {
    display: flex;
    gap: 40px;
}

.footer-logo,
.footer-contato,
.footer-menu {
    flex: 1;
}

.footer-logo q {
    display: block;
    margin-top: 32px;
    max-width: 25ch;
}

.footer-contato ul,
.footer-menu ul {
    margin-top: 16px;
}

.footer-contato li + li,
.footer-menu li + li {
    margin-top: 8px;
}

.footer-contato a:hover,
.footer-menu a:hover {
    color: var(--cor-0);
}

.footer-redes {
    margin-top: 16px;
    display: flex;
    gap: 20px;
}

.footer-copy {
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 425px) {

    .footer-container {
        flex-direction: column;
    }

    .footer-menu {
        order: 1;
        text-align: center;
    }

    .footer-contato {
        order: 2;
        text-align: center;
    }

    .footer-redes {
        justify-content: center;
    }

    .footer-logo {
        order: 3;
        display: flex;
        flex-direction: column;
    }

    .footer-logo img {
        width: 106px;
        margin: 0 auto;
    }

    .footer-logo q {
        max-width: initial;
        text-align: center;
    }
}