main {
    display: flex;
    justify-content: flex-end;
}

.introducao-imagem img {
    position: relative;
    left: 40px;
}

.introducao-texto {
    margin-top: 100px;
}

.introducao-texto p {
    margin-top: 12px;
    max-width: 40ch;
}

.introducao-texto a {
    display: block;
    margin-top: 12px;
}

.introducao-texto a:hover {
    opacity: .8;
}

@media (max-width: 1024px) {

    .introducao-texto p {
        margin-top: 6px;
        max-width: 50ch;
    }
}

@media (max-width: 768px) {

    .introducao-imagem {
        flex: 1 1 0;
    }

    .introducao-imagem img {
        left: 0px;
    }

    .introducao-texto {
        margin-top: 60px;
        flex: 1 1 0;
    }
}

@media (max-width: 660px) {

    main {
        flex-direction: column;
    }

    .introducao-imagem {
        display: none;
    }

    .introducao-texto {
        margin-top: 10px;
        flex: 2;
    }
}









