main {
    display: flex;
    justify-content: flex-end;
}

.introducao-imagem {
    position: relative;
    left: 40px;
}

.introducao-texto {
    margin-top: 100px;
}

.introducao-texto p {
    margin-top: 12px;
    max-width: 40ch;
}

.introducao-texto a {
    display: block;
    margin-top: 12px;
}

.introducao-texto a:hover {
    opacity: .8;
}

@media (max-width: 1024px) {

    .introducao-texto p {
        margin-top: 6px;
        max-width: 50ch;
    }
}

@media (max-width: 768px) {

    .introducao-imagem {
        flex: 1 1 0;
        left: 0;
    }

    .introducao-texto {
        margin-top: 60px;
        flex: 1 1 0;
    }
}

@media (max-width: 660px) {

    main {
        flex-direction: column-reverse;
        align-items: start;
        position: relative;
    }

    .introducao-texto {
        margin-top: 10px;
    }

    .introducao-imagem {
        position: absolute;
        z-index: -1;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .introducao-imagem img{
        max-width: 200px;

}









