.sobrenos {
    padding: 60px 0;
}

.sobrenos-info {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.sobrenos-info div {
    flex: 0 1 360px;
}

.sobrenos-info h3 {
    text-align: center;

    padding: 32px 0;
    border: 4px solid var(--cor-d4);
}

.sobrenos-info p {
    margin-top: 20px;
}